<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://code.alibabatech.com/schema/dubbo
       http://code.alibabatech.com/schema/dubbo/dubbo.xsd" default-autowire="byName">

    <!-- dubbo config -->
    <dubbo:application name="cnhutong-cs-mobile" />
    <dubbo:registry address="zookeeper://127.0.0.1:2181" />
    <dubbo:annotation package="com.cnhutong.cs.mobile" />
    <dubbo:consumer timeout="2000000" />

    <bean id="corpAuthHandler" class="com.demo2do.core.wechat.authorization.handler.impl.CorpAuthHandlerImpl">
        <property name="wechatHandler" ref="wechatHandler" />
    </bean>

    <bean id="corpMessageHandler" class="com.demo2do.core.wechat.corp.handler.impl.CorpMessageHandlerImpl">
        <property name="wechatHandler" ref="wechatHandler" />
    </bean>

    <bean id="appAuthHandler" class="com.demo2do.core.wechat.authorization.handler.impl.AppAuthHandlerImpl">
        <property name="weixin" ref="wechat" />
    </bean>

    <!--  <bean id="messageHandler" class="com.cnhutong.contract.handler.impl.MessageHandlerImpl" autowire="byType" /> -->


    <bean id="cookieHandler" class="com.demo2do.core.web.handler.impl.CookieHandlerImpl" />

    <bean id="wechatHandler" class="com.demo2do.core.wechat.handler.impl.RemoteWechatHandlerImpl" autowire="byName">
        <property name="host" value="#{wechat['central-server.host']}" />
        <property name="service" value="#{wechat['central-server.service']}" />
    </bean>

</beans>